* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
#top{
    scroll-margin-top: 90px;
}
.logout_bt{
    align-self: center;
    background-color: rgb(211, 0, 0);
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 30%;
    margin: 5px 0 0 20px;
}

.logout_bt:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(151, 0, 0);
}
header a{
    text-decoration: none;
}
header {
    background: linear-gradient(0deg, #ffffff, #e6e6e6, #b3b3b3);
    color: white;
    padding: 0 15px 15px 15px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    display: grid;
}
header img{
    align-self: center;
}
.title-wrap{
    align-self: center;
}
header p{
    font-weight: bold;
    color: black;
}
header p, header img{
    margin: 0 5px;
}
/* Styling dasar untuk sidebar */
.sidebar {
    margin-top: 90px;
    width: 250px;
    background-color: #7c7c7c;
    color: #fff;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    padding-bottom: 150px;
    transition: transform 0.3s ease;
}
.sidebar h2 {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul a {
    color: #fff;
    text-decoration: none;
}
.sidebar ul li:hover {
    background: #333;
}
.sidebar ul li {
    padding: 5px 20px 5px 25px;
    font-size: 13px;
}

/* Style untuk burger menu */
.burger-menu {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .content h1{
        font-size: 2.5em;;
    }
    .content h2{
        font-size: 2em;;
    }
    .content{
        margin-left:260px;
    }
    header img{
        width: 3.5%;
    }
    .title-wrap .judul{
        font-size: 20px;
    }
    .title-wrap .subjudul{
        font-size: 15px;
    }
    .tabel_katalog tbody td img{
        width: 100px;
    }
}
/* Atur sidebar menjadi dropdown di layar kecil */
@media (max-width: 768px) {
    .content h1{
        font-size: 2.5em;;
    }
    .content h2{
        font-size: 2em;;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        transform: translateX(-100%);
        z-index: 1000;
        background-color: #7c7c7c;
        opacity: 90%;
    }
    .sidebar.show-sidebar {
        transform: translateX(0);
    }
    .burger-menu {
        display: block;
    }
    .header {
        position: fixed;
        width: 100%;
        color: #fff;
        padding: 10px;
        text-align: center;
        z-index: 1001;
    }
    .content {
        padding: 20px;
        width: 100%;
        margin: 0;
    }
    header img{
        width: 5%;
    }
    .title-wrap .judul{
        font-size: 20px;
    }
    .title-wrap .subjudul{
        font-size: 15px;
    }
    .tabel_katalog{
        max-width: 100%;
    }
    .tabel_katalog tbody td img{
        width: 100px;
    }
}
@media (max-width: 660px) {
    .content h1{
        font-size: 2em;;
    }
    .content h2{
        font-size: 1.5em;;
    }
    header img{
        width: 8%;
    }
    .title-wrap .judul{
        font-size: 17px;
    }
    .title-wrap .subjudul{
        font-size: 12px;
    }
    .tabel_katalog tbody td img{
        width: 50px;
    }
    .tabel_katalog tbody tr td div button{
        width: 60px;
        padding: 0;
    }
    .tabel_katalog tbody td a,
    .tabel_katalog tbody td .btn{
        width: 40px;
        padding: 1px;
        margin: 2px 0;
    }

    .tabel_katalog{
        font-size: 10px;
    }
}

/* Close button styling for the sidebar */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}


.content {
    margin-top: 90px;
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
}
.content h1 {
    margin-bottom: 20px;
}
.content .table {
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    position:fixed;
    width: 100%;
    bottom: 0;
    display: block;
}
.deskripsi-potong {
    display: none;
}

.data_slider tr, .table thead tr th {
    text-align: center;
}
.tabel_katalog tr, .table thead tr th {
    text-align: center;
}
/* Styling toast */
.toast-container {
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 1050;
}
.toast {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.toast .close {
    margin-left: 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}