body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #a19cff 54% 57%, #0000 59%) 0 calc(96px/2),
                radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #a19cff 54% 57%, #0000 59%) calc(96px/2) 0,
                radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #a19cff 54% 57%, #0000 59%),
                radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #a19cff 54% 57%, #0000 59%),
                #cbc6ff;
    background-size: calc(96px/4.667) 96px, 96px calc(96px/4.667);
}

.judul {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: black;
}

.container {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.container h1{
    font-size: 24px;
    text-align: center;
}

.form-section {
    width: 350px;
}

.result-section {
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.result-section h2 {
    text-align: center;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 0.9em;
    color: #333;
}

input[type="number"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    width: 60%;
    padding: 10px;
    border: none;
    background: linear-gradient(90deg, rgb(26, 0, 121) 50%, #0056b3 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-position 0.3s ease;
    justify-self: center;
}

button:hover {
    background-position: left;
}

.result {
    font-size: 1em;
    text-align: center;
}

.Lulus {
    color: green;
}

.Gagal {
    color: red;
}
